@import './variables.scss';
@import './global.scss';
.details{
    padding: 80px 150px;
    background-color: #FFFFFF;
    background-image: url('/static/bg2.png');
    background-position: bottom;
    background-repeat: no-repeat;   
    background-size: cover;
}
@media screen and (max-width: 1600px){
    .details{
        padding: 80px 100px;
    }
}
@media screen and (max-width: 1200px){
    .details{
        padding: 80px 90px;
    }
}
@media screen and (max-width: 900px){
    .details{
        padding: 60px;
    }
}
@media screen and (max-width: 600px){
    .details{
        padding: 50px 40px;
    }
}